@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, night;
}

html, body, #__next {
  height: 100%;
  margin: 0;
}

body {
  padding: 1rem;
  font-family: var(--font-poppins-sans);
}

code, pre {
  font-family: var(--font-dm-mono);
}

.drag-region {
  -webkit-app-region: drag;
}

.no-drag {
  -webkit-app-region: no-drag;
}
