@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, night;
}

body {
  padding: 1rem;
  font-family: var(--font-poppins-sans);
}

code, pre {
  font-family: var(--font-dm-mono);
}
